{% extends "layout.html" %}

{%block title%}Find a Customer{% endblock %}
{%block content%}
<form class="FINDforms" action="{{ url_for('find_customer') }}" method = "POST">
    <h1>Find a Customer By Customer's Name:</h1><br><br>
    <p1>Name:</p1>
    <input type="text" name="thename" /><br>
    <input class="submitbtn" type="submit" value="Search" />
</form><br>
{% for name in custNames %}
<p class="foundRES">
    Customer ID: {{name.id}}<br>
    Customer's Name: {{name.customerName}}<br>
    City: {{name.city}}<br>
    Age: {{name.age}}<br>
    <a class ="button" href="/deletecustomer/{{name.id}}">Delete Customer</a>
</p>
{%endfor%}
{%endblock%}
<!-- {{ custNames }} -->